@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #838486;
  font-family: "Tajawal", "Open Sans";
}

/* slick ads*/
.slick-dots {
  bottom: -10px !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots button::before {
  color: #8185c9 !important;
}
.slick-dots .slick-active button::before {
  color: #373873 !important;
}

/* slick catogry */
.category {
  overflow-x: clip !important;
}
.category .slick-list {
  overflow: visible !important;
}
