@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #838486;
  font-family: "Tajawal";
}

.shadow_custom {
  box-shadow: 0 4px 4px 0px #0000001a;
}
.shadow_custom_cart {
  box-shadow: 4px 0px 4px 0px #0000001a;
}

/* slick ads*/
.slick-dots {
  bottom: -10px !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots button::before {
  color: #8185c9 !important;
}
.slick-dots .slick-active button::before {
  color: #373873 !important;
}

/* slick catogry */
.category {
  overflow-x: clip !important;
}
.category .slick-list {
  overflow: visible !important;
}
